body{
     background-image: url("../images/cork-wallet.png")
}
hr{
    border: 2px solid gray;
  
    width: 100%;
    margin: 0 auto;
    position: relative;
    top:17px;
}
.container{
     width:980px;
}
.text-lightgreen{
     color:#4aaaa5
}
.text-bold{
font-size:35px;
}
.text-size{
     font-size:180%;
}

.h-5{
     height:100px;
     width:320px;
     /* font-size:1em */
     background-color: #4aaaa5;
     /* text-align:center; */
     margin:0;
     /* padding:20px 16px; */
     font-size:2rem;
     
}a{
     color:#777777
